/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #000;
   --cor-de-link: #fff;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.menu__title {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}

.menu_header {
    gap: 15px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.menu__list__correo {
    color:#2874A6;
}

.menu a:hover {
    transition: 0.4s;
    color: #3cb371;
}

/*Sección Title*/

section.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5%;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.title__div {
    display: flex;
    flex-flow: row-reverse;
    align-content: center;
    gap: 5px;
}

.title__profile {
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
}

.title__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 20px;
}

.title__bio {
    color: white;
    font-size: 3.6em;
    margin: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.title__subsection {
    margin: 20px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
}

.title__network {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: left;
    padding: 0%;
    margin: 20px;
    color:#2874A6;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.title_about__paragraph {
    width: 100%;
    max-width: 700px;
    font-size: .9em;
    text-align: justify;
}

.title__network__item a:hover {
    transition: 0.4s;
    color: #3cb371;
}

/*Seccion skills*/

section.skills {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    padding: 2% 0% 4% 0%;
}

.skills__title {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 30px 0px 30px 0px;
}

.skills__line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: "Kiwi Maru", serif;
    font-style:normal;
}

.skills__box {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1% 3% 0% 0%;
}

.skills__name {
    text-align: center;
    margin: 10%;
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.skills__img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formación Académica*/

section.academic {
    color: white;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0% 0% 2% 0%;
    box-shadow: 70px 0px 70px 0px #154360;
}

.academic__title{
    text-align: center;
    font-size: 3em;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 5% 0% 3% 0%;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.academic__courses__list {
    padding: 3%;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;
}

.academic__courses__item__img {
    width: 100%;
}

.academic__courses__item__title {
    text-align: center;
}

.academic__courses__item__subtitle{
    color: #3cb371;
    text-align: center;
}

/* experiencia*/

section.experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.experience__section__title {
    color: white;
    text-align: center;
    padding: 5% 0% 0% 0%;
    font-size: 3em;
}

.experience__box {
    gap: 30px;
    margin: 5%;
    padding: 0% 0% 0% 5%;
    font-size: 1em;
}

.experience_uno, .experience_tres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.experience_dos, .experience_cuatro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.experience__img {
    width: 100%;
    max-width: 700px;
}

.experience__title {
    color: white;
}

.experience__info {
    text-align: center;
}

.experience__description a::first-letter {
    transition: 0.5s;
    color: #3cb371;
}

.experiencia__botao--repo {
    border:solid 5px #2874A6;
    width: 150px;
    height: 50px;
}

.experience__botao--demo {
    border:solid 5px #2874A6;
    width: 150px;
    height: 50px;
}

/*Contacto*/

section.formcontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.formcontacto__contacto {
    display: flex;
    flex-direction: column;
}

.formcontacto__text {
    color: white;
    box-shadow: 70px 0px 70px 0px #154360;
    padding: 2% 0% 4% 0%;
}

.formcontacto__title {
    font-size: 2em;
}

.formcontacto__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formcontacto__input {
    width: 200px;
    height: 30px;
}

.formcontacto__textarea {
    width: 300px;
    height: 80px;
}

.formcontacto_enviar {
    background-color: #2874A6;
}

/*footeer*/

section.footer{
   color: white;
   padding: 3%;
}

.footer_fecha {
    color: #3cb371;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/

@media (max-width:768px) {
    .title__profile {
        width: 100%;
        max-width: 300px;
        height: 400px;
    }

    .title__div {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
    }

    .title_about__paragraph {
        width: 100%;
        max-width: 700px;
    }

    .title__network {
        margin: 10px;
    }

    .skills__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.skills .skills__box {
        width: 300px;
    }

    section.menu {
        flex-direction: column;
        text-align: center;
    }

    section.title {
        flex-direction: row;
        align-items: flex-start;
        padding: 0% 1% 0% 1%;
    }

    .title__container {
        text-align: center;
    }

    .title__profile {
        width: 100%;
        max-width: 300px;
    }

    .section.academic {
        box-shadow: none;
    }

    .experience__box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .experience_uno, .experience_dos, .experience_tres, .experience_cuatro {
        flex-direction: column;
        align-items: center;
    }

    .experience__title {
        font-size: 1.4em;
    }

    .experiencia__botao--repo,
    .experience__botao--demo {
        width: 80px;
        height: 30px;
    }
}

/*Mobile*/
@media (max-width:424px) {
    section.menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .9em;
        padding: 0%;
        margin: 0%;
    }

    .title__div {
        display: flex;
        flex-direction: column;
    }

    .title__profile {
        width: 100%;
        max-width: 150px;
        height: 200px;
    }

    .title__container {
        flex-direction: column;
    }

    .title__bio {
        font-size: 2em;
        text-align: center;
    }

    .title__subsection {
        font-size: 1.2em;
        text-align: center;
    }

    .title_about__paragraph {
        font-size: 0.8em;
    }

    .title__network {
        flex-direction: column;
        gap: 10px;
    }

    .skills__title, .academic__title, .experience__section__title {
        font-size: 2em;
    }

    .skills__line, .academic__courses {
        flex-direction: column;
    }

    .experience__box {
        margin: 2%;
        padding: 0;
    }

    .experience_uno, .experience_tres, .experience_dos, .experience_cuatro {
        flex-direction: column;
        gap: 10px;
    }

    .experience__img {
        max-width: 100%;
    }

    .formcontacto__input, .formcontacto__textarea {
        width: 100%;
    }

    .formcontacto__form {
        gap: 10px;
    }

}
